@model GenerationC.Database.models.Device

@{
    var dt = Model.Created_at.ToString("dd/MMMM/yyyy");
    ViewBag.Title = "Details on " + Model.Name;
}
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Device #@Model.Id</h5>
        </div>
        <div class="modal-body">
            <div class="form-row justify-content-center">
                <div class="form-group col-md-8 text-center">
                    <h3>Guess someone is curious, huh?</h3>
                    <p>Here it goes, you device name is @Model.Name and you have been using it since @dt</p>
                    <p>You usually connect to it through the @Model.Gateway IP Address, and don't forget it's about a @Model.Type we are talking about.</p>
                    <p>If something is wrong, feel free to change it.</p>
                </div>
            </div>
         </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm pull-left" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
