@{
    ViewBag.Title = "About";
}
<section class="inner">
    <div class="column">

        <h1>About</h1>
        <img class="img" src="~/Assets/Hed.png" alt="Hedgar Bezerra" />
        <p>I'm Hedgar, currently studying System Analysis and Development and really passionate about most technologies! </p>
        <p>
            I'm a really curious person but that was not always good. Whenever I liked some language or technology I'd drop whatever
            I was doing and focus on that. But I finally figured that should stop, and so I focused on one language: Python
        </p>

        <p>
            But why Python? It's simple, fast and open source. There is a ton of documentation and awesome libraries such as Django, Numpy, PyMongo, Requests
            and a lot more!
        </p>
        <h3>What can I do with python?</h3>
        <p>Develop web applications using Django and Flask, which we can use for Rest APIs as well(<strong>They're lit </strong>) <i class="fas fa-fire" style="color: crimson"></i></p>
        <p>Configure and adapt any database, maybe not all(damn you SQL Server) using SQLAlchemy</p>
        <p>Create automated log with built in libraries, and maybe even sent it through Http Requests using the Requests library </p>

        <h4>Python is fun :)</h4>
        <i class="fab fa-python fa-4x" style="color: darkslateblue"></i>
    </div>

    <div id="column">
        <h1>Skills</h1>
        <p>
            <h3>FrontEnd Develpment </h3>
            I've learn to use HTML, CSS and Javascript for basic client side experience but I also have experienced on first hand what ReactJs
            can do for you as a developer with little time. As well as Javascript lib Jquery and AJAX.
        </p>
        <p><i class="fab fa-html5 fa-3x" style="color: orangered"></i>  <i class="fab fa-css3-alt fa-3x" style="color: slateblue"></i>  <i class="fab fa-js-square fa-3x" style="color: goldenrod"></i></p>

        <h3>Backend Develpment </h3>
        <p>
            As for backend most of my experience relies on Python and Java, I've also used other languages as Ruby, Go and C++ but didn't really
            went on it, even tho Ruby is a pretty decente programming language although it's descending.
            And now I'm seeing how C# handles stuff, I really think it's a pretty good language that I could learn eventually.
        </p>
        <p><i class="fab fa-python fa-3x" style="color: darkslateblue"></i>  <i class="fab fa-java fa-3x" style="color: darkred"></i> </p>
        <p>
            <h3>Databases </h3>
            During college time, I've learned to map/modelate the database as well as using SQL for DDL and DML, not long after I decided
            to learn some more and took a online course from Harvard University. And recently I decided to learn some more and took an extra course
            on data modeling on Treinaweb.
            Databases: MySQL, SQL Server, Oracle Database and MongoDB.
        </p>
        <p><i class="fas fa-database fa-3x" style="color: dimgray"></i></p>
        <p>
            <h3>Containers </h3>
            I have little experience with application containers such as Docker and Heroku and they're super helpful! These platforms are where I usually deploy
            my applications, I mostly use Heroku due to the easy access and benefits.
        </p>

        <p><i class="fab fa-docker fa-3x"></i> </p>
        <p>If you wanna se some more see my CV or just connect with me!</p>
        <p>
            Visualize my CV: <a href="~/Assets/CV.pdf" download>Click me!</a>

        </p>
    </div>
</section>

<div class="row">
    <div class="col-md-6">
        <h3>Let's connect</h3>
        <p>
            <a href="https://br.linkedin.com/in/hedgarbezerra" target="_blank" class="fab fa-linkedin fa-3x" style="color: mediumblue"></a>
            <span> LinkedIn </span>

            <a href="https://www.facebook.com/" class="fab fa-facebook fa-3x" target="_blank" style="color: mediumblue"></a>
            <span>Facebook </span>
        </p>
        <p>
            <a href="https://github.com/hedgarbezerra" class="fab fa-github fa-3x" style="color: rebeccapurple" target="_blank"></a>
            <span> Github </span>


            <a href="https://twitter.com" class="fab fa-twitter fa-3x" target="_blank"></a>
            <span> Twitter </span>
        </p>
        <p>
            <a href="https://Instagram.com" class="fab fa-instagram fa-3x" target="_blank" style="color: brown"></a>
            <span>Instagram </span>

            <a href="https://web.whatsapp.com/" class="fab fa-whatsapp fa-3x" target="_blank" style="color: mediumseagreen"> </a>
            <span> Whatssapp </span>
        </p>
    </div>

    <div class="col-md-6">
        <h4>You might as well just contact me!</h4>
        <p> Email: <a href="mailto:hedgarbezerra35@gmail.com" target="_top">hedgarbezerra35@gmail.com </a></p>
        <p> Phone Number: <a href="tel:13991931364">(13)991931364</a> </p>
    </div>
</div>
